Assets/Prefab/Heritage_Place_Redevelopmnt_Minneapolis_MN_v2.obj filter=lfs diff=lfs merge=lfs -text
Assets/Prefab/Heritage_Place_Redevelopmnt_Minneapolis_MN_v2.fbx filter=lfs diff=lfs merge=lfs -text
